body {
	background-color: #000;
	font-family: Helvetica;
}

.bigTitle {
	font-size: 60px;
	color: #fff;
	display:inline;
}

.smallTitle {
	display:inline;
	float: left;
	font-size: 40px;
}

.chart {
	width: 400px;
	height: 300px;
}

.directionTitle {
	font-size: 20px;
	color: #fff;
}

.stopTitle {
	font-size: 15px;
	color: #57AFE6;
}

.routeTitle {
	font-size: 40px;
	color: #fff;
	font-weight: bold;
}

.container {
	float: left;
	border: 1px dashed gainsboro;
	border-color: #57AFE6;
	padding: 5px;
}

.legendLabel {
	font-size: 18px;
	color: #000;
}